# Python
__pycache__
*.pyc
*.egg-info
dist

# Log
*.log
*.log.*


# Data
!**/alpaca-data-conversation.json

# Editor
.idea
*.swp

# Other
.DS_Store
wordnet/
output/
params_weight/

wandb/

checkpoints/
ckpts*

.ipynb_checkpoints
*.ipynb

# DevContainer
!.devcontainer/*

# Demo
